<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--创建带有生命周期方法的bean
    生命周期：bean的创建到销毁
    ioc容器中注册的bean
    1. 单例bean，容器启动的时候就会创建好，容器关闭也会销毁创建的bean
    2. 多实例bean，获取的时候才创建；
    我们可以为bean自定义一些生命周期方法；spring在创建或者销毁的时候就会调用指定的方法；
    自定义初始化和销毁方法：不能带参数，但可以抛出异常
    -->
    <!--<bean id="book01" class="bean.Book" init-method="init" destroy-method="destory" scope="singleton">
    </bean>-->

    <bean id="book02" class="bean.Book" init-method="init" destroy-method="destory" scope="prototype">
    </bean>
</beans>